### At the time of creating - list/tuple/dictionary/set

* create **list** [element1, element2,....]
 
         starts with [ and ends with **]**
         
* create **tuple** (element1, element2,....)
         
         starts with ( and ends with )
         
* create **dictionary** {'key1':'value1', 'key2':'value2',....}
          
          starts with { and ends with }
          
* create **set** {element1, element2,.....}

          starts with { and ends with }

### Calling - list/tuple/dictionary/set

* list_var[ ]
      
      starts [ and ends with ]

* tuple_var[ ]
      
      starts [ and ends with ]

* dictionary_var[ ]
      
      starts [ and ends with ]
      
* **set** can not be called b/c it is a collection of unique values

In [2]:
y = list(range(65, 91))      # 65-90 ascii codes for alphabets A-Z

for a in y:
    print(chr(a))            # chr = function for converting ascii code numbers to alphabets

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [3]:
y = list(range(65, 70))      # 65-90 ascii codes for alphabets A-Z

for i in y:
    print(chr(i))             range(65, 70)

A
B
C
D
E

In [5]:
n = list(range(65, 70))      # 65-90 ascii codes for alphabets A-Z

[chr(i)for i in n]

['A', 'B', 'C', 'D', 'E']

In [6]:
n = range(65, 70)      # 65-90 ascii codes for alphabets A-Z

[chr(i)for i in n]

['A', 'B', 'C', 'D', 'E']

In [8]:
     # 65-90 ascii codes for alphabets A-Z

[chr(i) for i in range(65, 91)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [9]:
chr(67)     # chr = function for converting ascii code numbers to alphabets

'C'

In [10]:
ord('C')    # ord tells what is the ascii number for the alphabet

67

In [11]:
ord('c')

99

## LIST (Mutable)

In [12]:
#           0                    1             2   #index 
a = ['Mahpara Badar', 'Biomedical Engineer', 200]  #value or element

a[1]    #calling

'Biomedical Engineer'

In [13]:
a[1] = 'Data Science'
a                     #mutable

['Mahpara Badar', 'Data Science', 200]

In [15]:
a = 'Mahpara Badar'  #string is immutable
print(a)

a[0]

Mahpara Badar

'M'

In [16]:
a = 'Mahpara Badar'
print(a)

a[0] = 'm'

Mahpara Badar

TypeError: 'str' object does not support item assignment

## TUPLE (Immutable)

In [20]:
#      0      1      2
a = ('X', 'Y', 'Z')
#      -3     -2     -1

print(a)

('X', 'Y', 'Z')

In [21]:
print(dir(a))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [24]:
[i for i in dir(a) if '__' not in i]

['count', 'index']

In [25]:
for i in a:
    print(i)

X
Y
Z

In [26]:
[i for i in a]

['X', 'Y', 'Z']

In [27]:
a[0]

'X'

In [28]:
a[-1]

'Z'

In [29]:
a[0] = 'Pakistan'   #update

print(a)            #hence proved tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [30]:
#      0      1      2
a = ('X', 'Y', 'Z')
#      -3     -2     -1

print(a)
print(id(a))


a = ('Pakistan', 'Y', 'Z')   # reassigned/changed the whole variable

print(a)
print(id(a))

('X', 'Y', 'Z')
2995918952576
('Pakistan', 'Y', 'Z')
2995918785536

## SET (Unique Collection of Values)

In [31]:
a = {1, 1, 2, 2, 3, 1, 4, 3, 10, 0, 5, 6, 5, 6}

print(a)

{0, 1, 2, 3, 4, 5, 6, 10}

In [32]:
print(a[0])   #indexing is not allowed in set

TypeError: 'set' object is not subscriptable

## LIST / DICTIONARY

In [34]:
#        0                1                   2     index
a = ['Mahpara Badar',"Biomedical Engineer", 500] # value or element

a[1]

'Biomedical Engineer'

In [37]:
###    DICTIONARY   ###

a = {
    'fname':'Mahpara Badar',
    'department':'Biomedical Engineering',
    'roll no':200
}

print(a)

{'fname': 'Mahpara Badar', 'department': 'Biomedical Engineering', 'roll no': 200}

In [38]:
a['fname']

'Mahpara Badar'

In [39]:
import pandas as pd

data = {
    'roll_no':[1, 2, 3],
    'name':['Nobita', 'Gian', 'Sonyo'],
    'course':['AI', 'DS', 'ML']
}

print(data)

df = pd.DataFrame(data)
df

{'roll_no': [1, 2, 3], 'name': ['Nobita', 'Gian', 'Sonyo'], 'course': ['AI', 'DS', 'ML']}

   roll_no    name course
0        1  Nobita     AI
1        2    Gian     DS
2        3   Sonyo     ML

In [40]:
#       Bank                  customer
print('12345-67891234-1' == '12345678912341') #real data

print('12345-7891234-1' == '12345-67891234-1') # conversion no. 1
print('12345678912341' == '123456789123401') # conversion no. 2

print('12345-67891234-1'.replace("-","") == '12345678912341'.replace("-","")) # conversion no. 3

False
False
False
True

In [41]:
print('12345-67891234-1' == '12345678912341')

False

## Index Number is replaced with Key Name in Dictionary

{
    'key1':'value1',
    'key2':'value2'
}

* key = str, int
* value = str, int, float, list, tuple, dict...

In [4]:
d = {
    'a':'Pakistan',
    17:'Hello World'
}

print(d)
print(d[17])
print(d['a'])

{'a': 'Pakistan', 17: 'Hello World'}
Hello World
Pakistan

In [6]:
d = {
    'a':'Pakistan',
    17:'Hello World',
    (1, 2, 3):'ABCD'      # tuple can be assigned as key but is a wrong method / not used as key in dictionary
}

print(d)
print(d[17])
print(d['a'])
print(d[(1, 2, 3)])

{'a': 'Pakistan', 17: 'Hello World', (1, 2, 3): 'ABCD'}
Hello World
Pakistan
ABCD

In [8]:
d = {
    'a':'Pakistan',
    17:'Hello World',
    [1, 2, 3]:'ABCD'      # wrong method 
}

print(d)
print(d[17])
print(d['a'])
print(d[[1, 2, 3]])

TypeError: unhashable type: 'list'

In [12]:
data = {"roll_no": [1, 2, 3, 4]}

print(data)
print(data["roll_no"])
print(data["roll_no"][2])

{'roll_no': [1, 2, 3, 4]}
[1, 2, 3, 4]
3

In [13]:
### dictionary in list ###

#    0  1  2             3
a = [1, 2, 3, {'id': '7', 'name':'Doraemon'}]
#   -4 -3  -2           -1

print(a)
print(a[-1])
print(a[-1]['name'])

[1, 2, 3, {'id': '7', 'name': 'Doraemon'}]
{'id': '7', 'name': 'Doraemon'}
Doraemon

In [14]:
print(a)
print(type(a))

[1, 2, 3, {'id': '7', 'name': 'Doraemon'}]
<class 'list'>

## "isinstance" - match one data type with your data type

In [15]:
isinstance(a, list)

True

In [16]:
isinstance(a, dict)

False

In [50]:
i = [1, 25]

print(isinstance(i, str))
print(isinstance(i, int))
print(isinstance(i, float))
print(isinstance(i, bool))
print(isinstance(i, list))
print(isinstance(i, tuple))
print(isinstance(i, set))
print(isinstance(i, dict))
print(isinstance(i, complex))

False
False
False
False
True
False
False
False
False

### SET

In [19]:
{'a', 'b', 'b', 'c', 'd', 'c', 'a', 'm', 1, 1, 2, 5, 3, 2, 3}

{1, 2, 3, 5, 'a', 'b', 'c', 'd', 'm'}

In [25]:
course = ['AI', 'AI', 'DS', 'DS' ]  # list
print(course, type(course))

course = set(course)    # set
print(course, type(course))

course = list(course)  # list
print(course, type(course))

course.reverse()       # any list method can be applied
print(course, type(course))

['AI', 'AI', 'DS', 'DS'] <class 'list'>
{'AI', 'DS'} <class 'set'>
['AI', 'DS'] <class 'list'>
['DS', 'AI'] <class 'list'>

In [26]:
a = {2, 'j', 3, 'k', 'g', 5, 8, 9, 'i'}
a

{2, 3, 5, 8, 9, 'g', 'i', 'j', 'k'}

In [39]:
a = [1,2,2,2,5,7,7,3,2,4,6,6,'a','a','x','y','x','x']  # list
# converting into unique values
a = set(a)
print(a, type(a))

# converting into list to apply any mrthod/function on it
a = list(a)
print(a, type(a))

# list comprehension
a_string = [i for i in a]    # all elements

# for i in a:
#     print(i)

print(a_string)


a_string = [i for i in a if isinstance(i, str)]
a_string = sorted(a_string)
print(a_string)

a_integer = [i for i in a if isinstance(i, int)]
a_integer = sorted(a_integer)
print(a_integer)

a = a_string + a_integer
print(a)

{1, 2, 3, 4, 5, 6, 7, 'y', 'x', 'a'} <class 'set'>
[1, 2, 3, 4, 5, 6, 7, 'y', 'x', 'a'] <class 'list'>
[1, 2, 3, 4, 5, 6, 7, 'y', 'x', 'a']
['a', 'x', 'y']
[1, 2, 3, 4, 5, 6, 7]
['a', 'x', 'y', 1, 2, 3, 4, 5, 6, 7]

## Code generated with Chatgpt

In [ ]:
a = [1, 2, 2, 2, 2, 3, 'a', 'b', 'x']

# Separate string and integer items
string_items = [item for item in a if isinstance(item, str)]
integer_items = [item for item in a if isinstance(item, int)]

# Get unique values
unique_string_items = list(set(string_items))
unique_integer_items = list(set(integer_items))

# Sort in ascending order for string items and descending order for integer items
sorted_string_items = sorted(unique_string_items)
sorted_integer_items = sorted(unique_integer_items, reverse=True)

# Combine the sorted lists
result = sorted_string_items + sorted_integer_items
print(result)

In [40]:
##########################

a = [1, 2, 2, 2, 5, 7, 7, 3, 2, 4, 6, 6, 'a', 'a', 'x', 'y', 'x', 'x']

# Separate strings and integers
string_list = [item for item in a if isinstance(item, str)]
integer_list = [item for item in a if isinstance(item, int)]

# Remove duplicates
string_list = list(set(string_list))
integer_list = list(set(integer_list))

# Sort the lists
string_list.sort()
integer_list.sort()

# Concatenate the lists with strings first and then integers
sorted_list = string_list + integer_list

print(sorted_list)

['a', 'x', 'y', 1, 2, 3, 4, 5, 6, 7]

In [41]:
y = {
    'fname':input("Enter your first name:\t"),
    'lname':input("Enter your last name:\t"),
    'roll_no':input("Enter your roll_no:\t")
}

print(y)

Enter your first name:	Mahpara
Enter your last name:	Badar
Enter your roll_no:	500
{'fname': 'Mahpara', 'lname': 'Badar', 'roll_no': '500'}