# FUNCTION

* Pre-defined
    * provided by community
* User- defined
    * custom function created by you (programmer)
    
### Common Properties:  

* return
* non-return
* required parameters
* optional parameters
* default function (doesn't require any parameter)
* positional arguement
* key value parameters
* pass unlimited optional arguements
* pass unlimited key=value arguements

### Note:

1. function declaration/signature = def abc(parameter1, parameter2,.....):
2. function body 
3. function calling

### Syntax

```
def custom_name(parameter1, parameter2,.....):    # signature/function declaration
       statement1   # body start
       statement2
       statement3   # body end
       
custom_name()  # function calling       
```

# Reserved Keywords

In [1]:
import pandas as pd

df = pd.read_html("https://www.w3schools.com/python/python_ref_keywords.asp")
df[0]

     Keyword                                        Description
0        and                                 A logical operator
1         as                                 To create an alias
2     assert                                      For debugging
3      break                             To break out of a loop
4      class                                  To define a class
5   continue        To continue to the next iteration of a loop
6        def                               To define a function
7        del                                To delete an object
8       elif    Used in conditional statements, same as else if
9       else                     Used in conditional statements
10    except  Used with exceptions, what to do when an excep...
11     False     Boolean value, result of comparison operations
12   finally  Used with exceptions, a block of code that wil...
13       for                               To create a for loop
14      from               To import specific parts of a module
15    global                       To declare a global variable
16        if                    To make a conditional statement
17    import                                 To import a module
18        in  To check if a value is present in a list, tupl...
19        is                 To test if two variables are equal
20    lambda                    To create an anonymous function
21      None                            Represents a null value
22  nonlocal                    To declare a non-local variable
23       not                                 A logical operator
24        or                                 A logical operator
25      pass  A null statement, a statement that will do not...
26     raise                              To raise an exception
27    return              To exit a function and return a value
28      True     Boolean value, result of comparison operations
29       try                   To make a try...except statement
30     while                             To create a while loop
31      with                Used to simplify exception handling
32     yield             To end a function, returns a generator

### NON-RETURN FUNCTION

In [1]:
def introduction():    # signature / function declaration
    print("Mahpara Badar")  # body start
    print("Biomedical Engineer")
    print("Data Science Enthusiast")
    print("Artificial Intelligence and Generative AI Enthusiast")  # body end
    
introduction()  # function calling

Mahpara Badar
Biomedical Engineer
Data Science Enthusiast
Artificial Intelligence and Generative AI Enthusiast

In [2]:
abc = introduction()

Mahpara Badar
Biomedical Engineer
Data Science Enthusiast
Artificial Intelligence and Generative AI Enthusiast

In [4]:
print(abc)   # non-return function

None

In [5]:
introduction()  # function calling

Mahpara Badar
Biomedical Engineer
Data Science Enthusiast
Artificial Intelligence Enthusiast

In [5]:
introduction()           ## centralized system - if anything is changed in the function, it will get changed at all places  
introduction()           ## when we'll call that function
introduction()

Mahpara Badar
Biomedical Engineer
Data Science Enthusiast
Artificial Intelligence and Generative AI Enthusiast
Mahpara Badar
Biomedical Engineer
Data Science Enthusiast
Artificial Intelligence and Generative AI Enthusiast
Mahpara Badar
Biomedical Engineer
Data Science Enthusiast
Artificial Intelligence and Generative AI Enthusiast

In [1]:
introduction1()

NameError: name 'introduction1' is not defined

In [6]:
abc = introduction()    # because our function is non-return function here

Mahpara Badar
Biomedical Engineer
Data Science Enthusiast
Artificial Intelligence and Generative AI Enthusiast

In [7]:
print(abc)

None

### RETURN FUNCTION

In [8]:
def introduction():    # signature / function declaration
    print("Mahpara Badar")  # body start
    print("Biomedical Engineer")
    print("Data Science Enthusiast")
    print("Artificial Intelligence and Generative AI Enthusiast")  # body end
    
    return "MY INTRO"    # now we can save it in a variable
    
abc = introduction()  # function calling

Mahpara Badar
Biomedical Engineer
Data Science Enthusiast
Artificial Intelligence and Generative AI Enthusiast

In [9]:
print(abc)   # return function

MY INTRO

In [10]:
def introduction():   
  
     return "Pakistan zinda bad", 123, "abc"   # multiple things can be put into return # multi-return
    
abc = introduction()  # function calling

In [11]:
print(abc)

('Pakistan zinda bad', 123, 'abc')

In [4]:
print()
print()
print()

In [7]:
print()
print("Mahpara")
print()

Mahpara

In [6]:
print(end = "*")
print("Mahpara")
print()

*Mahpara

## Required Parameters

In [17]:
def add_two_numbers(num1, num2):   # signature
    return num1 + num2

print(add_two_numbers(2, 2))
print(add_two_numbers(5, 2))

4
7

In [18]:
add_two_numbers(7)  # b/c two parameters are required

TypeError: add_two_numbers() missing 1 required positional argument: 'num2'

In [8]:
add_two_numbers(7, 8, 9)

TypeError: add_two_numbers() takes 2 positional arguments but 3 were given

### Positional Arguements

In [2]:
def add_two_numbers(num1, num2):   # signature
    print(f"number-1 is {num1} and number-2 is {num2}:\t")
    return num1 + num2

print(add_two_numbers(2, 2))
print(add_two_numbers(5, 2))

number-1 is 2 and number-2 is 2:
4
number-1 is 5 and number-2 is 2:
7

### Keyword Arguements

In [22]:
def add_two_numbers(num1, num2):   # signature
    print(f"number-1 is {num1} and number-2 is {num2}:\t")
    return num1 + num2

print(add_two_numbers(num2 = 2, num1 = 2))
print(add_two_numbers(num2 = 5, num1 = 2))

number-1 is 2 and number-2 is 2:
4
number-1 is 2 and number-2 is 5:
7

In [2]:
## sum ##

print(sum([1, 3, 5, 7, 8, 3, 2]))    # in list

29

## Unlimited Arguements

In [6]:
def abc(x, y, z = 0):   # arguements without "=" are mandatory
    return x + y + z

print(abc(2, 7))
print(abc(1, 4, 5))

9
10

In [9]:
def abc(x = 0, y = 0, z = 0): # optional arguments
    return x + y + z

print(abc(2, 7))
print(abc(1, 4, 5))   # positional arguments
print(abc(z = 2, x = 2, y = 3))  # keyword arguements
print(abc(2))
print(abc())

9
10
7
2
0

In [13]:
l = ["a", "b", "c"]    # list

print(l[0], l[1], l[2])
print(l)
print(*l)  # gives separate value without calling index one by one  # same as above logic

a b c
['a', 'b', 'c']
a b c

In [14]:
l = ("a", "b", "c")   # can also be applied on tuple

print(l[0], l[1], l[2])
print(*l)  # gives separate value without calling index one by one  # same as above logic

a b c
a b c

In [2]:
l = ["a", "b", "c"]

x = l[0]
y = l[1]
z = l[2]

print(x, y, z)

a b c

In [3]:
# simplified #

l = ["a", "b", "c"]

x, y, z = l[0], l[1], l[2]

print(x, y, z)

a b c

In [9]:
def abc(x, y = 0, z = 0): 
    return x + y + z

d = {
    "x" : 5,
    "y" : 7,
    "z" : 9
}

print(d["x"], d["y"], d["z"])
print(abc(d["x"], d["y"], d["z"]))
print(abc(x = 5, y = 7, z = 9))

5 7 9
21
21

# *

In [7]:
print(abc(*d))  # * concatenates keys

xyz

# **

In [8]:
print(abc(**d))  # ** will add values

21

In [10]:
def abc(x, y = 0, z = 0): 
    return x + y + z

d = {
    "x" : 5,
    "y" : 7,
    "z" : 9,
    "e" : 2
}

print(d["x"], d["y"], d["z"])
print(abc(d["x"], d["y"], d["z"]))
print(abc(x = 5, y = 7, z = 9))

print(abc(*d))

print(abc(**d))

5 7 9
21
21

TypeError: abc() takes from 1 to 3 positional arguments but 4 were given

In [11]:
def abc(x, y = 0, z = 0): 
    return x + y + z

d = {
    "x" : 5,
    "y" : 7,
    "z" : 9,
    "e" : 2
}

print(d["x"], d["y"], d["z"])
print(abc(d["x"], d["y"], d["z"]))
print(abc(x = 5, y = 7, z = 9))

print(abc(**d))

5 7 9
21
21

TypeError: abc() got an unexpected keyword argument 'e'

# Unlimited Arguments Function

* Position based

In [12]:
def abc(*nums):   # when * is placed before variable while making function ----> unlimited  
    return nums

print(abc(1, 2, 23, 3, 7, 8, 9, 1, 4, 5))

(1, 2, 23, 3, 7, 8, 9, 1, 4, 5)

In [14]:
print(1, 2, 3, 4, 5)  # separator is space #check ----> shift+tab

print(1, 2, 3, 4, 5, sep = "**")

1 2 3 4 5
1**2**3**4**5

In [15]:
def abc(*nums):   # when * is placed before variable while making function ----> unlimited  
    return sum(nums)

print(abc(1, 2, 23, 3, 7, 8, 9, 1, 4, 5))

63

In [17]:
def my_sum(*nums):   # when * is placed before variable while making function ----> unlimited
    
    total = 0
    
    for n in nums:
        
        total += n
    
    return total

print(my_sum(1, 2, 23, 3, 7, 8, 9, 1, 4, 5))

63

In [18]:
L1 = [1, 2, 3, 5]
print(my_sum(*L1))

11

In [1]:
def abc(**data):
    print(data)
    return list(data.items())

#        key=value
print(abc(x = 2, y = 7, z = 3, e = 5, end = 500))

{'x': 2, 'y': 7, 'z': 3, 'e': 5, 'end': 500}
[('x', 2), ('y', 7), ('z', 3), ('e', 5), ('end', 500)]

In [3]:
data = input("Enter Name, University, Department").split(",")
data

Enter Name, University, DepartmentMahpara Badar, NEDUET, Biomedical Engineering

['Mahpara Badar', ' NEDUET', ' Biomedical Engineering']

In [5]:
data = input("Enter Name, University, Department").split(",")
data1 = {"Name":data[0], "University":data[1], "Department":data[2]}
         
abc(**data1)

Enter Name, University, DepartmentMahpara Badar, NEDUET, Biomedical Engineering
{'Name': 'Mahpara Badar', 'University': ' NEDUET', 'Department': ' Biomedical Engineering'}

[('Name', 'Mahpara Badar'),
 ('University', ' NEDUET'),
 ('Department', ' Biomedical Engineering')]

In [6]:
data = input("Enter Name, University, Department").split(",")
data1 = {
    "Name":data[0],
    "University":data[1],
    epartment"Department":data[2]
}
         
abc(**data1)

Enter Name, University, DepartmentMahpara Badar, NEDUET, Biomedical Engineering
{'Name': 'Mahpara Badar', 'University': ' NEDUET', 'Department': ' Biomedical Engineering'}

[('Name', 'Mahpara Badar'),
 ('University', ' NEDUET'),
 ('Department', ' Biomedical Engineering')]

In [8]:
data1 = {
    "Name":"Mahpara Badar",
    "University":"NEDUET",
    "Department":"Biomedical Engineering"
}
         
abc(**data1)

{'Name': 'Mahpara Badar', 'University': 'NEDUET', 'Department': 'Biomedical Engineering'}

[('Name', 'Mahpara Badar'),
 ('University', 'NEDUET'),
 ('Department', 'Biomedical Engineering')]

# ADVANCED (includes all)

* Required
* Positional unlimited args
* key=word args

In [10]:
def advance(x, y, *nums, **data): # * for unlimited positional args, ** for unlimited keyword args
    print(x, y)
    print(*nums)
    print(data)

#       x  y     *nums             **data
advance(5, 7, 'a', 'b', 3, 2, 1, e = 20, c = 78)

5 7
a b 3 2 1
{'e': 20, 'c': 78}

In [12]:
def advance(x, y, *nums, **data):  
    print(x, y)
    print(nums)
    print(data)

#       x  y     *nums             **data
advance(5, 7, 'a', 'b', 3, 2, 1, e = 20, c = 78)

5 7
('a', 'b', 3, 2, 1)
{'e': 20, 'c': 78}

In [13]:
L1 = [2, 2, 3]
L2 = [4, 4, 4]

print(advance(2, 7, *L1, *L2))

2 7
(2, 2, 3, 4, 4, 4)
{}
None

In [14]:
def aaa(*x, *y):  # same args can not appear in a single function
    print(x)
    print(y)
    
aaa(7,7,7,7)

SyntaxError: * argument may appear only once (2044003962.py, line 1)

# Lambda Function

* one line function
* without any name
* neither it was used before nor will be used in future

### Syntax

```
def add_two_numbers(x, y):
    return x + y
```
#### for lamba function
```
lambda x, y : x + y
```

In [15]:
def add_two_numbers(x, y):
    return x + y

add_two_numbers(5, 5)

10

In [16]:
aaa = lambda x, y : x + y  # through lambda / aaa is variable here

print(aaa(5, 5))

10

In [17]:
bbb = def add_two_numbers(x, y): return x + y

bbb(5, 5)

SyntaxError: invalid syntax (3006478533.py, line 1)

In [20]:
data = [[1, 'Z', 'E'], [3, 'X', 'F'], [2, 'Y', 'G']]

print(sorted(data))

[[1, 'Z', 'E'], [2, 'Y', 'G'], [3, 'X', 'F']]

In [21]:
data = [[1, 'Z', 'E'], [3, 'X', 'F'], [2, 'Y', 'G']]

print(sorted(data, key = lambda x : x[0]))

[[1, 'Z', 'E'], [2, 'Y', 'G'], [3, 'X', 'F']]

In [22]:
data = [[1, 'Z', 'E'], [3, 'X', 'F'], [2, 'Y', 'G']]

print(sorted(data, key = lambda x : x[1]))

[[3, 'X', 'F'], [2, 'Y', 'G'], [1, 'Z', 'E']]

In [23]:
data = [[1, 'Z', 'E'], [3, 'X', 'F'], [2, 'Y', 'G']]

print(sorted(data, key = lambda x : x[2]))

[[1, 'Z', 'E'], [3, 'X', 'F'], [2, 'Y', 'G']]

In [24]:
data = [[1, 'Z', 'E'], [3, 'X', 'F'], [2, 'Y', 'G']]

print(sorted(data, key = lambda k : k[2]))

[[1, 'Z', 'E'], [3, 'X', 'F'], [2, 'Y', 'G']]

## Code generated bt ChatGPT

My Question: ```I have above lambda function. Covert it into normal function.```

In [25]:
def sort_by_third_element(item):
    return item[2]

data = [[1, 'Z', 'E'], [3, 'X', 'F'], [2, 'Y', 'G']]
sorted_data = sorted(data, key=sort_by_third_element)

print(sorted_data)

[[1, 'Z', 'E'], [3, 'X', 'F'], [2, 'Y', 'G']]

In [27]:
data[0]

[1, 'Z', 'E']

In [28]:
def sort_by_third_element(item):
    return item[2]

data = [[1, 'Z', 'E'], [3, 'X', 'F'], [2, 'Y', 'G']]
sorted_data = sorted(data, key=[0][0])

print(sorted_data)

TypeError: 'int' object is not callable

In [1]:
data = [[1, 'Z', 'E'],
        [3, 'X', 'F'],
        [2, 'Y', 'G']]

print(sorted(data, key = lambda k : k[1:2]))

[[3, 'X', 'F'], [2, 'Y', 'G'], [1, 'Z', 'E']]

In [ ]:
## Generator Function ## Recursive Function ##

# GENERATOR FUNCTION

In [2]:
range(1, 11)

range(1, 11)

In [3]:
a = range(1, 11)

print(next(a))
print(next(a))
print(next(a))

TypeError: 'range' object is not an iterator

In [ ]:
## yield ##

In [11]:
def my_range(start, end, step=1):
    for i in range(start, end+1, step):
        yield i

a = my_range(1, 11)

print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4
5
6

In [12]:
print("hello world")

hello world

In [14]:
print(next(a))
print(next(a))

8
9

# RECURSIVE FUNCTION

* the function which calls itself in the its body

In [16]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
    
#TEST THE FUNCTION

number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}.")

The factorial of 5 is 120.

In [17]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
    
#TEST THE FUNCTION

number = 2
result = factorial(number)
print(f"The factorial of {number} is {result}.")

The factorial of 2 is 2.