# Symbolic AI

* What you can think and write in computer programming language is called Symbolic.
* Boolean: 0 = False, 1 = True  (Yes or No)---->Decision Making
* and, or, not 

### Reserved Key Words

* if
* else
* elif

#### Syntax

```
if LOGIC:
    True_body
else:
    False_body
```

```Note:``` LOGIC = True | False

Reserved key words can not be as variables, functions etc. They are reserved for their specified functions in python.

abc = "Mahpara Badar" ---> Right
if = "Mahpara"     -----> Wrong

In [6]:
import pandas as pd

df = pd.read_html("https://www.w3schools.com/python/python_operators.asp")

display(df[2])

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [7]:
df[3]

  Operator                                        Description                Example    Try it
0      and           Returns True if both statements are true       x < 5 and x < 10  Try it »
1       or      Returns True if one of the statements is true         x < 5 or x < 4  Try it »
2      not  Reverse the result, returns False if the resul...  not(x < 5 and x < 10)  Try it »

In [4]:
print("Mahpara Badar")
print("Biomedical Engineer")

Mahpara Badar
Biomedical Engineer

In [2]:
if True:
    print("Mahpara Badar")
else:
    print("Biomedical Engineer")

Mahpara Badar

In [3]:
if False:
    print("Mahpara Badar")
else:
    print("Biomedical Engineer")

Biomedical Engineer

### Creating Odd and Even Numbers Program using 'if else'

In [8]:
# ui = user input

ui = input("Enter any number:")

print(ui, type(ui))

Enter any number:77
77 <class 'str'>

In [9]:
ui = int(input("Enter any number:"))

print(ui, type(ui))

Enter any number:77
77 <class 'int'>

In [10]:
ui = int(input("Enter any number:"))
logic = ui % 2

logic

Enter any number:55

1

In [11]:
ui = int(input("Enter any number:"))
logic = ui % 2

logic

Enter any number:40

0

In [12]:
ui = int(input("Enter any number:"))
logic = ui % 2 == 0

logic

Enter any number:55

False

In [13]:
ui = int(input("Enter any number:"))
logic = ui % 2 == 0

logic

Enter any number:30

True

In [14]:
5 == 7

False

In [15]:
5 == 9

False

In [16]:
5 == 5

True

### Writing Complete Program

In [17]:
ui = int(input("Enter any number:"))

if ui % 2 == 0:                      # LOGIC
    print(f"{ui} is an Even Number!")
else:
    print(f"{ui} is an Odd Number!")

Enter any number:700
700 is an Even Number!

In [18]:
ui = int(input("Enter any number:"))

if ui % 2 == 0:                      # LOGIC
    print(f"{ui} is an Even Number!")
else:
    print(f"{ui} is an Odd Number!")

Enter any number:35
35 is an Odd Number!

## GRADING SYSTEM

* per >= 80 "A+"
* per >= 70 "A"
* per >= 60 "B"
* per >= 50 "C"
* per >= 40 "D"
* per >= 33 "E"
* per < 33 "FAIL"

#### Syntax

```
if logic1:
    statement1
elif logic2:
    statement2
elif logic3:
    statement3
else:
    last_statement
 ```

In [1]:
per = 88

if per >= 80:
    print("A+")
elif per >= 70:
    print("A")
elif per >= 60:
    print("B")
elif per >= 50:
    print("C")
elif per >= 40:
    print("D")
elif per >= 33:
    print("E")
else:
    print("FAIL")

A+

In [2]:
per = 45

if per >= 80:
    print("A+")
elif per >= 70:
    print("A")
elif per >= 60:
    print("B")
elif per >= 50:
    print("C")
elif per >= 40:
    print("D")
elif per >= 33:
    print("E")
else:
    print("FAIL")

D

In [5]:
per = 33

if per >= 80:
    print("A+")
elif per >= 70:
    print("A")
elif per >= 60:
    print("B")
elif per >= 50:
    print("C")
elif per >= 40:
    print("D")
elif per >= 33:
    print("E")
else:
    print("FAIL")

E

In [3]:
per = 77

if per >= 80:
    print("A+")
elif per >= 70:
    print("A")
elif per >= 60:
    print("B")
elif per >= 50:
    print("C")
elif per >= 40:
    print("D")
elif per >= 33:
    print("E")
else:
    print("FAIL")

A

In [6]:
per = 30

if per >= 80:
    print("A+")
elif per >= 70:
    print("A")
elif per >= 60:
    print("B")
elif per >= 50:
    print("C")
elif per >= 40:
    print("D")
elif per >= 33:
    print("E")
else:
    print("FAIL")

FAIL

## WRONG LOGIC

In [8]:
per = 30

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per >= 50:
    print("C")
elif per >= 60:
    print("B")
elif per >= 70:
    print("A")
else:
    print("A+")

Fail

In [9]:
per = 99     # WRONG LOGIC"
                 # the logic will fail all the students
if per >= 0:      #step 1
    print("Fail")
elif per >= 33:  #step 2
    print("E")
elif per >= 40:  #step 3
    print("D")
elif per >= 50:  #step 4
    print("C")
elif per >= 60:  #step 5
    print("B")
elif per >= 70:  #step 6
    print("A")
else:
    print("A+")  #step 7

Fail

### Solution for Above Problem

In [10]:
### and ###

per = 99     
                 
if per >= 0 and per < 33:     
    print("Fail")
elif per >= 33 and per < 40:  
    print("E")
elif per >= 40 and per < 50: 
    print("D")
elif per >= 50 and per < 60: 
    print("C")
elif per >= 60 and per < 70: 
    print("B")
elif per >= 70 and per < 80: 
    print("A")
else:
    print("A+")

A+

In [11]:
per = 32     
                 
if per >= 0 and per < 33:     
    print("Fail")
elif per >= 33 and per < 40:  
    print("E")
elif per >= 40 and per < 50: 
    print("D")
elif per >= 50 and per < 60: 
    print("C")
elif per >= 60 and per < 70: 
    print("B")
elif per >= 70 and per < 80: 
    print("A")
else:
    print("A+")

Fail

In [15]:
print(True and True and True and True)   # all should be True in order for the answer to be true
print(True and True and True and False)
print(True and True and False and False)
print(True and False and False and False)

True
False
False
False

In [16]:
print(True or True or True or True)
print(True and True or True or False)
print(True or True or False or False)
print(True or False or False or False)
print(False or False or False or False)

True
True
True
True
False

## Comprehensive Style

```
if logic:
    true_block
else:
    false_block
```

#### Now Converting it into Comprehensive Style

``true_block if logic false_block``

In [19]:
"Mahpara Badar" if True else "Biomedical Engineer"

'Mahpara Badar'

In [20]:
"Mahpara Badar" if False else "Biomedical Engineer"

'Biomedical Engineer'

## NESTED if else

In [21]:
data = [1, 2, 3, 4, 5]

ui = 7

if ui in data:
    print("Valid Student ID")
else:
    print("Invalid Student ID")

Invalid Student ID

In [22]:
data = [1, 2, 3, 4, 5]

ui = 3

if ui in data:
    print("Valid Student ID")
else:
    print("Invalid Student ID")

Valid Student ID

In [23]:
user_name = [("doraemon", 123),
             ("nobita", 345),
             ("sonyo", 678)]

for u in user_name:
    print(u)

('doraemon', 123)
('nobita', 345)
('sonyo', 678)

In [24]:
user_name = [("doraemon", 123),         # student name     # password
             ("nobita", 345),
             ("sonyo", 678)]

for u in user_name:
    print(u[0], u[1])    # we can call them individually by indexing from tuple

doraemon 123
nobita 345
sonyo 678

In [25]:
user_name = [("doraemon", 123),         # student name     # password
             ("nobita", 345),
             ("sonyo", 678)]

for u in user_name:
    user = u[0] 
    password = u[1]
    
    print(user, password)

doraemon 123
nobita 345
sonyo 678

In [27]:
# data = [1, 2, 3, 4, 5]  # student ID

# user_name = [("doraemon", 123),    # student name     # password
#              ("nobita", 345),
#              ("sonyo", 678)]

# ui = 3

# if ui in data:
#     print("Valid Student ID")
#     for u in user_name:
#         ui = "doraemon"
#         ps = "123"
#         user = u[0]  # username
#         pas = u[1]   # password
# else:
#     print("Invalid Student ID")

Valid Student ID