In [1]:
student_1 = "Dora"
student_2 = "Diego"
student_3 = "Doraemon"
student_4 = "Nobita"

print(student_1)
print(student_2)
print(student_3)
print(student_4)

Dora
Diego
Doraemon
Nobita

## LIST DATA TYPE

* Heterogenous data type
* Dynamic length
* Dynamic memory management

### Syntax

[element1, element2, element3,....]

In [2]:
students = ["Dora", "Diego", "Doraemon", "Nobita"]
students

['Dora', 'Diego', 'Doraemon', 'Nobita']

In [3]:
# ------->    0        1          2          3
students = ["Dora", "Diego", "Doraemon", "Nobita"]
# < -----    -4        -3        -2          -1   < -----  negative indexing

students

['Dora', 'Diego', 'Doraemon', 'Nobita']

### Extracting value from iterative data type with index position

Syntax: list_variable[index number]

In [1]:
names1 = input("Please enter names with ',' separation: ")
print(names1)

names1.split(",")

Please enter names with ',' separation:  Dora,Diego,Doraemon,Nobita

Dora,Diego,Doraemon,Nobita

['Dora', 'Diego', 'Doraemon', 'Nobita']

In [5]:
names1 = input("Please insert names with ',' seperated: ")

names1.split(",")

Please insert names with ',' seperated:  Dora,Diego,Gian,Sonyo

['Dora', 'Diego', 'Gian', 'Sonyo']

In [1]:
names1 = input("Please insert names with ',' seperated: ")

names1.split(",")

print(names1)

Please insert names with ',' seperated: Oggy,Tom,Jerry
Oggy,Tom,Jerry

In [7]:
cities = input("Please enter city names ',' separation: ")
print(cities)

cities.split(",")

Please enter city names ',' separation:  Karachi,Islamabad,Lahore,Peshawar,Quetta

Karachi,Islamabad,Lahore,Peshawar,Quetta

['Karachi', 'Islamabad', 'Lahore', 'Peshawar', 'Quetta']

In [8]:
# ------->    0        1          2          3
students = ["Dora", "Diego", "Doraemon", "Nobita"]
# < -----    -4        -3        -2          -1   < -----  negative indexing

students

['Dora', 'Diego', 'Doraemon', 'Nobita']

In [9]:
# ------->    0        1          2          3
students = ["Dora", "Diego", "Doraemon", "Nobita"]
# < -----    -4        -3        -2          -1   < -----  negative indexing

# list_variable[index_number]

print(students[1])

Diego

In [10]:
# ------->    0        1          2          3
students = ["Dora", "Diego", "Doraemon", "Nobita"]
# < -----    -4        -3        -2          -1   < -----  negative indexing

# list_variable[index_number]

print(students[-3])

Diego

In [12]:
# ------->    0        1          2          3
students = ["Dora", "Diego", "Doraemon", "Nobita"]
# < -----    -4        -3        -2          -1   < -----  negative indexing

# list_variable[index_number]

print(students[0])
print(students[-4])
print(students[2])

Dora
Dora
Doraemon

### Slicing on List

Syntax: list_variable[start:end:step]

* start = this number will be included
* end = excluded end-1
* step = sequence/gap
   * step = 1 (positive value ----->)

In [16]:
range(1, 11)  #range function follows LAZY RULE i.e. it won't perform until it is provided something to do e.g. list is applied 
              #below  ## Range is a GENERATOR FUNCTION

range(1, 11)

In [9]:
print(list(range(1,11)))   #range also doesn't include last number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
a = list(range(1,11))

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#  0  1  2  3  4  5  6  7  8   9  ----->
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# -10 -9 -8.................. -1   <-----

In [11]:
print(a[])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2129586007.py, line 1)

In [15]:
print(a)

print(a[0])   #indexing
print(a[1])
print(a[1:2]) # 3 will not appear b/c n-1, last one does not show up
print(a[1:7])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
[2]
[2, 3, 4, 5, 6, 7]

In [6]:
print(a[::])   #it will print the whole list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
print(a[0:10:1]) #same result as above

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
print(a[0:10:2])  #two steps

[1, 3, 5, 7, 9]

In [9]:
print(a[0:10:3])  #three steps

[1, 4, 7, 10]

In [10]:
print(a[3::])   #will print numbers from index 4 to end

[4, 5, 6, 7, 8, 9, 10]

In [11]:
print(a[3:])   #same result as above

[4, 5, 6, 7, 8, 9, 10]

In [12]:
print(a[3:10])  #same result as above

[4, 5, 6, 7, 8, 9, 10]

In [13]:
print(a[3:10:1])  #same result as above

[4, 5, 6, 7, 8, 9, 10]

In [15]:
print(a[-7:])  #same result as above

[4, 5, 6, 7, 8, 9, 10]

In [14]:
print(a[3:-1])

[4, 5, 6, 7, 8, 9]

In [9]:
print(a[-2:-5])  #b/c it always moves left to right by default / it won't find -5 index at right side
print(a[-2:-5:-1])  # <-----
print(a[2:5:-1])
print(a[-7::-1])
print(a[:100:])   #it will give output after finding it in the available index range
print(a[100])   #it won't give output for single index which is not present

[]
[9, 8, 7]
[]
[4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

IndexError: list index out of range

In [12]:
### Negative Indexing

a = list(range(1,11))

print(a)

print(a[::-1])
print(a[-5:-2:])
print(a[2:5:-1])
print(a[7:2:-1])  #same result
print(a[-3:-8:-1]) #same result

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[6, 7, 8]
[]
[8, 7, 6, 5, 4]
[8, 7, 6, 5, 4]

In [1]:
characters = list("abcdefghijklmnopqrstuvwxyz") #if list function is applied on any string, it will convert all the characters
print(characters)                                #into list b/c string is iterative data type and iterations are performed on it

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [7]:
characters = list("abcdefghijklmnopqrstuvwxyz")
print(characters) 

counter = 0

while(counter < len(characters)):
    print(characters[counter])
    counter += 1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [8]:
characters = list("abcdefghijklmnopqrstuvwxyz")
print(characters) 

counter = 0

while(counter < len(characters)):
    print(characters[counter])
    counter += 2    #picking two step values

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
a
c
e
g
i
k
m
o
q
s
u
w
y

## Extra Code

In [4]:
import numpy as np

a = np.arange(1, 101).reshape(10, 10).tolist()

print(a)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40], [41, 42, 43, 44, 45, 46, 47, 48, 49, 50], [51, 52, 53, 54, 55, 56, 57, 58, 59, 60], [61, 62, 63, 64, 65, 66, 67, 68, 69, 70], [71, 72, 73, 74, 75, 76, 77, 78, 79, 80], [81, 82, 83, 84, 85, 86, 87, 88, 89, 90], [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [6]:
print(a)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40], [41, 42, 43, 44, 45, 46, 47, 48, 49, 50], [51, 52, 53, 54, 55, 56, 57, 58, 59, 60], [61, 62, 63, 64, 65, 66, 67, 68, 69, 70], [71, 72, 73, 74, 75, 76, 77, 78, 79, 80], [81, 82, 83, 84, 85, 86, 87, 88, 89, 90], [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [5]:
display(a)  #display function is used when we need the data in its standard form

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [ ]:
a[,]        #to find the dimension of any list, check the no. opening or closing brackets #here 2 #so 2 dimensions

In [7]:
a[::]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [8]:
display(a[0:2:])

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]]

In [9]:
display(a[0:5:])

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50]]

In [10]:
[i for i in a]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [11]:
[i[5:7] for i in a]

[[6, 7],
 [16, 17],
 [26, 27],
 [36, 37],
 [46, 47],
 [56, 57],
 [66, 67],
 [76, 77],
 [86, 87],
 [96, 97]]

In [12]:
[i[5:8] for i in a]

[[6, 7, 8],
 [16, 17, 18],
 [26, 27, 28],
 [36, 37, 38],
 [46, 47, 48],
 [56, 57, 58],
 [66, 67, 68],
 [76, 77, 78],
 [86, 87, 88],
 [96, 97, 98]]

###############################################################

In [13]:
a = list(range(1,11))

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
print(i)   #if we check, it will show last value

f

In [22]:
for i in "abcdef":    #block
    print(i, "hello")          #body

a hello
b hello
c hello
d hello
e hello
f hello

In [19]:
## Comprehensive Style

print(i) for i in "abcdef"

SyntaxError: invalid syntax (2395826734.py, line 3)

In [20]:
[print(i) for i in "abcdef" ]

a
b
c
d
e
f

[None, None, None, None, None, None]

In [21]:
[i for i in "abcdef" ]    #no need to apply print

['a', 'b', 'c', 'd', 'e', 'f']

In [18]:
for i in ["sonyo", "doraemon", "nobita"]:
    print(i)

sonyo
doraemon
nobita

In [15]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
[i for i in dir(a) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [27]:
names = []
print(names)

names.append("Mahpara")
print(names)
names.append("Doraemon")
print(names)
names.append("Shizuka")   #value is being added at the last position
print(names)

[]
['Mahpara']
['Mahpara', 'Doraemon']
['Mahpara', 'Doraemon', 'Shizuka']

In [28]:
while True:
    name1 = input("Enter Student Name | X for exit: ")
    if name1 == "X" or name1 == "x":
        break
    names.append(name1)
    
print(names)

Enter Student Name | X for exit: Gian
Enter Student Name | X for exit: Sonyo
Enter Student Name | X for exit: Dora
Enter Student Name | X for exit: Tom
Enter Student Name | X for exit: x
['Mahpara', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom']

In [29]:
names

['Mahpara', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom']

In [30]:
st_names = names   #Shallow Copy
st_names

['Mahpara', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom']

In [31]:
st_names[0]

'Mahpara'

In [33]:
st_names[0] = "Mahpara Badar"

print(st_names)
print(names)

['Mahpara Badar', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom']
['Mahpara Badar', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom']

In [34]:
st_names1 = names.copy()             #Deep Copy
print(st_names1)

st_names1[0] = "Jerry"
print(names)
print(st_names1)

['Mahpara Badar', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom']
['Mahpara Badar', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom']
['Jerry', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom']

In [35]:
# through slicing

print(names)
n = names[:]          # Deep Copy
n[0] = "Biomedical Engineer"

print(names)
print(n)

['Mahpara Badar', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom']
['Mahpara Badar', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom']
['Biomedical Engineer', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom']

In [37]:
names.count("Doraemon")

1

* object.method_name()

In [38]:
names

['Mahpara Badar', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom']

In [39]:
names.append("111")
names

['Mahpara Badar', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom', '111']

In [40]:
names.append("222")
print(names)

['Mahpara Badar', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom', '111', '222']

In [41]:
names.append(['333'])
print(names)

['Mahpara Badar', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom', '111', '222', ['333']]

In [44]:
names.append(111)
names

['Mahpara Badar',
 'Doraemon',
 'Shizuka',
 'Gian',
 'Sonyo',
 'Dora',
 'Tom',
 '111',
 '222',
 ['333'],
 111,
 111]

In [50]:
remaining_names = ['a', 'b', 'c']
remaining_names

['a', 'b', 'c']

In [51]:
names.extend(remaining_names)  #extends list with another list as elements not as list in list
names

['Mahpara Badar',
 'Doraemon',
 'Shizuka',
 'Gian',
 'Sonyo',
 'Dora',
 'Tom',
 '111',
 '222',
 ['333'],
 111,
 111,
 'a',
 'b',
 'c',
 'a',
 'b',
 'c',
 'a',
 'b',
 'c',
 'a',
 'b',
 'c']

In [55]:
del names[-1]
names

['Mahpara Badar',
 'Doraemon',
 'Shizuka',
 'Gian',
 'Sonyo',
 'Dora',
 'Tom',
 '111',
 '222',
 ['333'],
 111,
 111,
 'a',
 'b',
 'c',
 'a',
 'b',
 'c',
 'a',
 'b',
 'c']

In [57]:
del names[-11]
names

['Mahpara Badar',
 'Doraemon',
 'Shizuka',
 'Gian',
 'Sonyo',
 'Dora',
 'Tom',
 '111',
 '222',
 111,
 111,
 'a',
 'b',
 'c',
 'b',
 'c',
 'a',
 'b',
 'c']

In [58]:
names.index("Sonyo")

4

In [59]:
names.insert(0, "Jerry")
names

['Jerry',
 'Mahpara Badar',
 'Doraemon',
 'Shizuka',
 'Gian',
 'Sonyo',
 'Dora',
 'Tom',
 '111',
 '222',
 111,
 111,
 'a',
 'b',
 'c',
 'b',
 'c',
 'a',
 'b',
 'c']

In [60]:
del names[0]
names

['Mahpara Badar',
 'Doraemon',
 'Shizuka',
 'Gian',
 'Sonyo',
 'Dora',
 'Tom',
 '111',
 '222',
 111,
 111,
 'a',
 'b',
 'c',
 'b',
 'c',
 'a',
 'b',
 'c']

In [61]:
c= names.pop()  #when we give empty (), it is deletes -1 index by default / stores the deleted value in variable for remembrance
print(c)
print(names)

c
['Mahpara Badar', 'Doraemon', 'Shizuka', 'Gian', 'Sonyo', 'Dora', 'Tom', '111', '222', 111, 111, 'a', 'b', 'c', 'b', 'c', 'a', 'b']

In [62]:
names.remove("Dora")
names

['Mahpara Badar',
 'Doraemon',
 'Shizuka',
 'Gian',
 'Sonyo',
 'Tom',
 '111',
 '222',
 111,
 111,
 'a',
 'b',
 'c',
 'b',
 'c',
 'a',
 'b']

In [63]:
names.reverse()
names

['b',
 'a',
 'c',
 'b',
 'c',
 'b',
 'a',
 111,
 111,
 '222',
 '111',
 'Tom',
 'Sonyo',
 'Gian',
 'Shizuka',
 'Doraemon',
 'Mahpara Badar']