In [1]:
data = "Mahpara Badar"

print(data)

Mahpara Badar

In [2]:
data = "Mahpara Badar 12345 !@#$"

print(data)
print(type(data))

Mahpara Badar 12345 !@#$
<class 'str'>

#### Special Characters

In [4]:
data = "Mahpara Badar 12345 !@#$" hello world"

print(data)
print(type(data))

SyntaxError: unterminated string literal (detected at line 1) (1031337813.py, line 1)

In [5]:
data = "Mahpara Badar 12345 !@#$ ' hello world"

print(data)
print(type(data))

Mahpara Badar 12345 !@#$ ' hello world
<class 'str'>

In [6]:
data = 'Mahpara Badar 12345 !@#$ " hello world'

print(data)
print(type(data))

Mahpara Badar 12345 !@#$ " hello world
<class 'str'>

In [7]:
data = 'Mahpara Badar' 12345 !@#$ "hello world'

print(data)
print(type(data))

SyntaxError: invalid syntax (298292449.py, line 1)

 To convert special character into a normal character, place "\" before that special character

In [8]:
data = 'Mahpara Badar\' 12345 !@#$ "hello world'

print(data)
print(type(data))

Mahpara Badar' 12345 !@#$ "hello world
<class 'str'>

In [10]:
data = "Mahpara Badar\" 12345 !@#$ 'hello world"

print(data)
print(type(data))

Mahpara Badar" 12345 !@#$ 'hello world
<class 'str'>

#### Assigning Multiline String

In [2]:
xyz = "line1 Mahpara Badar"\
"line2 Biomedical Engineering"\
"line3 Data Science Artificial Intelligence"

print(xyz)
print(type(xyz))

line1 Mahpara Badarline2 Biomedical Engineeringline3 Data Science Artificial Intelligence
<class 'str'>

In [3]:
xyz = "line1 Mahpara Badar "\
"line2 Biomedical Engineering "\
"line3 Data Science Artificial Intelligence"

print(xyz)
print(type(xyz))

line1 Mahpara Badar line2 Biomedical Engineering line3 Data Science Artificial Intelligence
<class 'str'>

In [4]:
xyz = """
Mahpara Badar
Biomedical Engineering
Data Science Artificial Intelligence
"""

xyz

'\nMahpara Badar\nBiomedical Engineering\nData Science Artificial Intelligence\n'

In [5]:
xyz = """
Mahpara Badar
Biomedical Engineering
Data Science Artificial Intelligence
"""

print(xyz)
print(type(xyz))

Mahpara Badar
Biomedical Engineering
Data Science Artificial Intelligence

<class 'str'>

In [6]:
xyz = """
Mahpara Badar
Biomedical Engineering
Data Science\t Artificial Intelligence
"""

print(xyz)
print(type(xyz))

Mahpara Badar
Biomedical Engineering
Data Science	 Artificial Intelligence

<class 'str'>

In [9]:
xyz = """
Mahpara Badar
Biomedical Engineering'
Data Science Artificial Intelligence
"""

print(xyz)
print(type(xyz))

Mahpara Badar
Biomedical Engineering'
Data Science Artificial Intelligence

<class 'str'>

### Concatenation and Text Formation

In [10]:
 "1" + 1

TypeError: can only concatenate str (not "int") to str

In [11]:
"1" + "1"

'11'

In [12]:
1 + 1

2

In [14]:
a = input("Enter No. 1: ")
b = input("Enter No. 2: ")

print(type(a), type(b))
print(a + b)            #concatenation

Enter No. 1: 1
Enter No. 2: 4
<class 'str'> <class 'str'>
14

### Type Casting

* int()
* str()
* float()
* list()
* tuple()
* dict()
* set()

In [15]:
a = "7"         #string
print(a, type(a))

a = int(a)     #integer
print(a, type(a))

a = float(a)   #float
print(a, type(a))

7 <class 'str'>
7 <class 'int'>
7.0 <class 'float'>

In [16]:
a = input("Enter No. 1: ")
b = input("Enter No. 2: ")
a = int(a)
b = int(b)

print(type(a), type(b))
print(a + b)  #addition operation

Enter No. 1: 1
Enter No. 2: 4
<class 'int'> <class 'int'>
5

In [17]:
a = int(input("Enter No. 1: "))
b = int(input("Enter No. 2: "))

print(type(a), type(b))
print(a + b)

Enter No. 1: 7
Enter No. 2: 3
<class 'int'> <class 'int'>
10

In [18]:
int("1") + 1

2

In [19]:
"1" + str(1)

'11'

In [21]:
roll_no = 100
name = "abc"
fname = "xyz"
contact_no = "0123456789"

card = "NED University of Engineering and Technology" +\
"\nRoll No: " + str(roll_no) +\
"\nStudent Name: " + name +\
"\nFather Name: " + fname +\
"\nContact No: " + contact_no 

print(card)

NED University of Engineering and Technology
Roll No: 100
Student Name: abc
Father Name: xyz
Contact No: 0123456789

In [32]:
roll_no = 100
name = "abc"
fname = "xyz"
contact_no = "0123456789"

card = "NED University of Engineering and Technology" + "\nRoll No: " + str(roll_no) +\
"\nStudent Name: " + name + "\nFather Name: " + fname +\
"\nContact No: "\
+ contact_no 

print(card)

NED University of Engineering and Technology
Roll No: 100
Student Name: abc
Father Name: xyz
Contact No: 0123456789

In [39]:
roll_no = 100
name = "abc"
fname = "xyz"
contact_no = "0123456789"

card = """
NED University of Engineering and Technology
Student Roll No: {}
Student Name: {}
Father Name: {}
Contact No: {}""".format(roll_no, name, fname, contact_no)

print(card)

NED University of Engineering and Technology
Student Roll No: 100
Student Name: abc
Father Name: xyz
Contact No: 0123456789

In [41]:
roll_no = 100
name = "abc"
fname = "xyz"
contact_no = "0123456789"

card = """
NED University of Engineering and Technology
Student Roll No: {}
Student Name: {}
Father Name: {}
Contact No: {}""".format(name, roll_no, contact_no, fname)

print(card)

NED University of Engineering and Technology
Student Roll No: abc
Student Name: 100
Father Name: 0123456789
Contact No: xyz

In [ ]:
roll_no = 100
name = "abc"
fname = "xyz"
contact_no = "0123456789"

card = """
NED University of Engineering and Technology
Student Roll No: {}
Student Name: {}
Father Name: {}
Contact No: {}""".format(roll_no, name, fname, contact_no)
#                           0       1     2        3


print(card)

In [40]:
roll_no = 100
name = "abc"
fname = "xyz"
contact_no = "0123456789"

card = """
NED University of Engineering and Technology
Student Roll No: {1}
Student Name: {0}
Father Name: {3}
Contact No: {2}""".format(name, roll_no, contact_no, fname)

print(card)

NED University of Engineering and Technology
Student Roll No: 100
Student Name: abc
Father Name: xyz
Contact No: 0123456789

In [43]:
roll_no = 100
name = "abc"
fname = "xyz"
contact_no = "0123456789"

card = f"""NED University of Engineering and Technology
Student Roll No: {roll_no}
Student Name: {name}
Father Name: {fname}
Contact No: {contact_no}"""

print(card)

NED University of Engineering and Technology
Student Roll No: 100
Student Name: abc
Father Name: xyz
Contact No: 0123456789

In [44]:
roll_no = 100
name = "abc"
fname = "xyz"
contact_no = "0123456789"

card = f"""NED University of Engineering and Technology
Student Roll No:\t{roll_no}
Student Name:\t{name}
Father Name:\t{fname}
Contact No:\t{contact_no}"""

print(card)

NED University of Engineering and Technology
Student Roll No:	100
Student Name:	abc
Father Name:	xyz
Contact No:	0123456789

In [45]:
roll_no = 100
name = "abc"
fname = "xyz"
contact_no = "0123456789"

card = f"""NED University of Engineering and Technology
Student Roll No:\t{roll_no}
Student Name:\t{name}
Father Name:\t{fname}
Contact No:\t{contact_no}
4 + 4 = \t{4 + 4}"""

print(card)

NED University of Engineering and Technology
Student Roll No:	100
Student Name:	abc
Father Name:	xyz
Contact No:	0123456789
4 + 4 = 	8

In [1]:
roll_no = input("Enter your roll no: ")
name = input("Enter your name: ")
fname = input("Enter your father name: ")
contact_no = input("Enter your contact number: ")

card = f"""NED university of Engineering and Technology
Student Roll No: {roll_no}
Student Name: {name}
Father Name: {fname}
Contact No: {contact_no}"""

print(card)

Enter your roll no: 7
Enter your name: ABC
Enter your father name: XYZ
Enter your contact number: 0987654321
NED university of Engineering and Technology
Student Roll No: 7
Student Name: ABC
Father Name: XYZ
Contact No: 0987654321

In [3]:
roll_no = input("Enter your roll no: ")
name = input("Enter your name: ")
fname = input("Enter your father name: ")
contact_no = input("Enter your contact number: ")
print("============================================")

card = f"""NED university of Engineering and Technology
Student Roll No: {roll_no}
Student Name: {name}
Father Name: {fname}
Contact No: {contact_no}"""

print(card)

Enter your roll no: 75
Enter your name: MMM
Enter your father name: XYZ
Enter your contact number: 1234567
============================================
NED university of Engineering and Technology
Student Roll No: 75
Student Name: MMM
Father Name: XYZ
Contact No: 1234567

* %s string
* %d number

In [4]:
roll_no = 111
name = "Mahpara Badar"
"Student name %s \n roll no: %d" % (name, roll_no)

'Student name Mahpara Badar \n roll no: 111'

In [7]:
roll_no = 107
name = "Mahpara Badar"

y = "Student name: %s \nroll no: %d" % (name, roll_no)
print(y)

Student name: Mahpara Badar
roll no: 107