In [1]:
a = "Mahpara Badar"

print(type(a))
print(dir(a))    ## dir will give all the methods and attribute that can be performed

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

#### All Methods/functions, Attributes/properties/fields of string

* method_name()
* attribute_name

#### How can we call Methods or Attributes

* object_name.method_name()
* object_name.attribute_name

In [4]:
text = """pakistan ZinDa bAD.
wE lOvE Our Country!"""

print(text.capitalize())  #capitalizes the first character

Pakistan zinda bad.
we love our country!

In [5]:
text = """pakistan ZinDa bAD.
wE lOvE Our Country!"""

print(text.casefold())  #coverts everything into small case

pakistan zinda bad.
we love our country!

In [1]:
name ="Mahpara Badar"

print(len(name))     #len global funtion

13

In [2]:
name = "Mahpara Badar"

print(name)
print(name.__len__()) #method

Mahpara Badar
13

In [3]:
name.__len__()

13

In [5]:
name = "Mahpara Badar"

print(name.center(20))

   Mahpara Badar

In [7]:
name = "Mahpara Badar"

name.center(20)              #centralizes the text by identing from both sides

'   Mahpara Badar    '

In [9]:
name = "Mahpara Badar"

name.center(50)              #centralizes the text by identing from both sides

'                  Mahpara Badar                   '

In [11]:
name = "Mahpara Badar"

print(name.count("a"))       #counts the character or text given/asked

5

In [12]:
name = "Mahpara Badar is studying Data Science with Artificial Intelligence at NED University of Engineering and Technology."

print(name.count("a"))        #counts the character or text given/asked

10

In [13]:
name = "Mahpara Badar is studying Data Science with Artificial Intelligence at NED University of Engineering and Technology."

print(name.count("Mahpara"))      #counts the character or text given/asked

1

In [1]:
name = "Mahpara Badar is studying Data Science with Artificial Intelligence at NED University of Engineering and Technology."

name.count("a") + name.count("m") + name.count("i") + name.count("M") + name.count("I")   

 #counts the character or text given/asked #also sums when + is placed in between

24

In [15]:
name = "Mahpara Badar is studying Data Science with Artificial Intelligence at NED University of Engineering and Technology."

name.count("m")  #case sensitive / not counting capital M

0

In [5]:
name = "Mahpara Badar"   #step 1 --> Mahpara Badar
name = name.casefold()   #mahpara badar
print(name)              #step 3 --> display

print(name.count("m"), name.count("a"), name.count("r"))

mahpara badar
1 5 2

In [4]:
name = "Mahpara Badar"   #step 1 --> Mahpara Badar
name = name.casefold()   #mahpara badar

m1 = name.count("m")   #m = 1
a1 = name.count("a")   #a = 5    count method always return integer value

print(m1, a1)

print("a1", type(a1))

1 5
a1 <class 'int'>

In [1]:
txt = "My name is Ståle"    #The encode() method encodes the string, using the specified encoding.
                            #If no encoding is specified, UTF-8 will be used.
x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [7]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [9]:
txt = "My name is ماہ پارہ Badar"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is \\u0645\\u0627\\u06c1 \\u067e\\u0627\\u0631\\u06c1 Badar'
b'My name is   Badar'
b'My name is \\N{ARABIC LETTER MEEM}\\N{ARABIC LETTER ALEF}\\N{ARABIC LETTER HEH GOAL} \\N{ARABIC LETTER PEH}\\N{ARABIC LETTER ALEF}\\N{ARABIC LETTER REH}\\N{ARABIC LETTER HEH GOAL} Badar'
b'My name is ??? ???? Badar'
b'My name is &#1605;&#1575;&#1729; &#1662;&#1575;&#1585;&#1729; Badar'

In [10]:
txt = "My name is ماہ پارہ Badar"  #The encode() method encodes the string, using the specified encoding.
                                #If no encoding is specified, UTF-8 will be used.
x = txt.encode()

print(x)

b'My name is \xd9\x85\xd8\xa7\xdb\x81 \xd9\xbe\xd8\xa7\xd8\xb1\xdb\x81 Badar'

In [13]:
name = "Mahpara Badar"

print(name.endswith("r"))                      #checks if the statement is true/false
print(name.endswith("Badar"))
print (name.endswith("ara"))

True
True
False

In [16]:
name = "Mahpara Badar"

print(name.startswith("Mah"))
print(name.startswith("m"))                    #checks if the statement is true/false
print(name.startswith("ar"))

True
False
False

In [24]:
name = "Mahpara Badar"

search = input("Starts with: ")      #first, input is taken from the user

print(name.startswith(search))       #then checks if it is true/false

Starts with: Mah
True

In [22]:
name = "Mahpara Badar"
search = input("Ends with: ")        #first, input is taken from the user

print(name.endswith(search))          #then checks if it is true/false

Ends with: Mah
False

In [26]:
card = """
NED University of Engineering and Technology

Batch:\t5
Class:\tPython
Name:\tMahpara Badar
"""

print(card)

NED University of Engineering and Technology

Batch:	5
Class:	Python
Name:	Mahpara Badar

In [27]:
card = """
NED University of Engineering and Technology

Batch:\t5
Class:\tPython
Name:\tMahpara Badar
"""

print(card.expandtabs(5))       #expands \t the tabs accordingly to number provided

NED University of Engineering and Technology

Batch:    5
Class:    Python
Name:     Mahpara Badar

In [30]:
card = """
NED University of Engineering and Technology

Batch:\t5
Class:\tPython
Name:\tMahpara Badar
"""

print(card.expandtabs(20))       #expands \t the tabs accordingly to number provided

NED University of Engineering and Technology

Batch:              5
Class:              Python
Name:               Mahpara Badar

## HELP

* help(function)
* help(object_name.method)
* function?
* function??
* ?function
* ??function
* function(shift+press_tab_button)

In [31]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [34]:
print??

In [35]:
name = "MAHpaRA BAdar"

?name.lower

In [36]:
name = "MAHpaRA BAdar"

name.lower()

'mahpara badar'

In [38]:
a = 2 and 3
print(a)

3

In [39]:
name = "     Mahpara Badar     "

name.lstrip()                 #moves/shifts the text to left side

'Mahpara Badar     '

In [40]:
name = "      Mahpara Badar        "

name.rstrip()                   #moves/shifts the text to right side

'      Mahpara Badar'

In [41]:
name = "    Mahpara Badar      "

name.strip()                    #removes extra indents from both sides

'Mahpara Badar'

In [42]:
name = "         Mahpara        Badar        "

name.strip()                    #removes extra indents from both sides but not from the center

'Mahpara        Badar'

In [43]:
name = "Dora Dora Dora Dora the explorer"

name.replace("Dora", "Mahpara")

'Mahpara Mahpara Mahpara Mahpara the explorer'

In [44]:
name = "Dora Dora Dora Dora the explorer"

name.replace("Dora", "Mahpara", -1)     #replaces the text from the provided text

'Mahpara Mahpara Mahpara Mahpara the explorer'

In [57]:
name = "Dora Dora Dora Dora the explorer"

name.replace("Dora", "Mahpara", 1)     #replaces the text from the provided text/also how many of them to replace from the start

'Mahpara Dora Dora Dora the explorer'

In [47]:
name = "Dora Dora Dora Dora the explorer"

name.index("explorer")              #finds out at which index this text is located

24

In [48]:
name = "Dora Dora Dora Dora the explorer"

name.index("Dora")               #finds out at which index this text is located

0

In [49]:
name = "Dora Dora Dora Dora the explorer"

name.find("Dora", 5)         #finds out at which index this text is located after or at this index

5

In [50]:
name = "Dora Dora Dora Dora the explorer"

name.find("Dora", 8)         #finds out at which index this text is located after or at this index

10

In [52]:
name = "Dora Dora Dora Dora the explorer"

name.find("Dora", 16)

-1

In [53]:
name = "Dora Dora Dora Dora the explorer"

name.count("Dora")      #counts how many times this text appears

4