## Variables

<img src = "variable.png">

In [5]:
a = 5
b = 7

print(a + b)

12

In [9]:
name = "Mahpara Badar"   #string

print(name)
print(type(name)) #class data type
print(id(name))   #physical address of variable

Mahpara Badar
<class 'str'>
2571099547952

In [ ]:
a = 70         #integer 

print(a)
print(type(a)) #class data type
print(id(a))   #physical address of variable

In [13]:
a = 70.1       #float

print(a)
print(type(a)) #class data type
print(id(a))   #physical address of variable

70.1
<class 'float'>
2571098961168

In [14]:
a = [1, 2, 3]     #list

print(a)
print(type(a))  #class data type
print(id(a))    #physical address of variable

[1, 2, 3]
<class 'list'>
2571099562944

In [15]:
a = {1, 1, 2, 3, 3, 5, 5}  #set #unique collection

print(a)
print(type(a))  #class data type
print(id(a))    #physical address of variable

{1, 2, 3, 5}
<class 'set'>
2571099441856

In [16]:
a = {"name":"Mahpara", "education":"BE"}  #dictionary

print(a)
print(type(a))  #class data type
print(id(a))    #physical address of variable

{'name': 'Mahpara', 'education': 'BE'}
<class 'dict'>
2571099460864

In [1]:
a = 2                    #integer #DYNAMIC DATA TYPE
print(a, type(a), id(a))

a = 2.0                  #float / overwrite
print(a, type(a), id(a))

a = '2'                  #string / overwrite               
print(a, type(a), id(a))

2 <class 'int'> 140718524437320
2.0 <class 'float'> 2205714675280
2 <class 'str'> 140718524480696

In [2]:
mahpara = 1
mahpara = 2
mahpara = '2'
print(mahpara)

2

In [3]:
a = '1'  #concatenation #strings added
b = '1'

print(a + b)

11

In [4]:
a = 1     #integers added / addition
b = 1

print(a + b)

2

In [5]:
mahpara = 1    #integer             
print(mahpara, type(mahpara), id(mahpara))

mahpara = 2    #integer
print(mahpara, type(mahpara), id(mahpara))

mahpara = '2'  #string
print(mahpara, type(mahpara), id(mahpara))

1 <class 'int'> 140718524437288
2 <class 'int'> 140718524437320
2 <class 'str'> 140718524480696

In [6]:
x = 7        #shallow copy    #same physical address / different names
y = 7
z = 7

print(id(x))
print(id(y))
print(id(y))

140718524437480
140718524437480
140718524437480

In [7]:
a = 5        #deep copy
b = '5'

print(id(a))
print(id(b))

140718524437416
140718524480864

In [8]:
a = 4        #deep copy
b = 5

print(id(a))
print(id(b))

140718524437384
140718524437416